---
layout: layouts/homephoto.njk
permalink: /photos/
---

<div class="columns-3xs">
    {% image "https://literasi533513683.files.wordpress.com/2022/02/nationalist_future-1.jpg", "Indonesian Nationalist" %}
{% image "https://literasi533513683.files.wordpress.com/2022/02/ipin_mask.jpg", "Ipin with Clown Mask Badut" %}
{% image "https://literasi533513683.files.wordpress.com/2022/02/two_young_women_with_jeans.jpg", "Two Young Women Hang out with Jeans" %}
{% image "https://literasi533513683.files.wordpress.com/2022/02/gema_man_mask.jpg", "Gema, a man with mask" %}
</div>

