---
layout: layouts/homephoto.njk
permalink: /photos/
---

{# <p class="font-semibold">Street Photographs Archive (Beta)</p> #}

<div class="flex flex-col space-y-12 mx-40 antialiased">
<div class="grid grid-cols-2">
    <div class="w-half">
            <div class="flex flex-col">
                {% image "https://literasi533513683.files.wordpress.com/2022/02/modern-cafe-with-stand-out-borneo.jpg", "Modern Cafe with Standing Borneo" %}
            </div>
    </div>
    <div class="w-full">
        <div class="flex flex-col">
                {% image "https://literasi533513683.files.wordpress.com/2022/02/young-father-smile-with-ababy.jpg", "Indonesian Nationalist" %}
            </div>
    </div>
    <div class="w-full">
        <div class="flex flex-col">
                {% image "https://literasi533513683.files.wordpress.com/2022/02/two_young_women_with_jeans.jpg", "Young Women with Blue Jeans Hangout" %}
            </div>
    </div>

    <div class="w-full">
        <div class="flex flex-col">
            {% image "https://literasi533513683.files.wordpress.com/2022/02/nationalist_future-1.jpg", "Indonesian Nationalist" %}
        </div>
    </div>
</div>

<p>Street Photograph Features (Coming Soon), <a href="https://instagram.com/literasibadguy">@literasibadguy</a></p>

</div>
    
{# {% image "https://literasi533513683.files.wordpress.com/2022/02/ipin_mask.jpg", "col-12 col-xs-6 col-sm-3 col-md-3", "Ipin with Clown Mask Badut" %} #}
{# {% image "https://literasi533513683.files.wordpress.com/2022/02/two_young_women_with_jeans.jpg", "col-12 col-xs-6 col-sm-3 col-md-3", "Two Young Women Hang out with Jeans" %} #}
{# {% image "https://literasi533513683.files.wordpress.com/2022/02/gema_man_mask.jpg", "col-12 col-xs-6 col-sm-3 col-md-3", "Gema, a man with mask" %} #}

