---
layout: layouts/home.njk
description: Bad Guy Express. We turned the noise into stories.
date: Last Modified
---

<img alt="Bad Guy Express" class="bad-logo" src="/img/bad-guy-express.png" />

<p>
  Thank you for stopping by. *Terima kasih sudah berkunjung.*
</p>


<p>Welcome to Bad Guy Express <a href="https://instagram.com/literasibadguy/">by @literasibadguy</a>.

<p>My name is Firas, from Pontianak, Indonesia</p>

<p>Lagi jalani studio web desain dan solusi digital di KICIKKU, kalau bisnis hebat kamu butuh website, kontak aja bro sis</p>

<p>Current Projects</p>

<p><a href="https://hijau.xyz" target="_blank">HIJAU</a> providing carbon offset services</p>

<p><a href="https://kurva.xyz" target="_blank">KURVA</a>: Web Design Publishing Index</p>

<p><a href="" target="_blank">TANGGA</a>: Food Delivery app on template, selling on Codecanyon</p>

<div id="posts">
  <h3>Posts</h3>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>