---
layout: layouts/home.njk
description: Bad Guy Express. We turned the noise into stories.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<img alt="Bad Guy Express" class="bad-logo" src="/img/bad-guy-express.png" />

<p>
  Thanks for stopping by. It's a lifetime chance writing here, I suspected Internet never got better qualities when you dont serve qualities here. 
</p>

<p>
I tried to write some exploration here, storytelling stuff, weird ideas on Internet and getting healthy.
</p>

<p>
Yes, getting healthy. I wanna make a case here, story like punk maybe which the story of culture being healthy.
It's between pain and pleasure stories, make it balance, story should be the guidance of your choices.
When is the time taking real food and junks. Since I love running, I started thinking nothing and sensitive with a daily foods and mental attitude.
</p>

<p>
Since my work mostly on computers. I tried to sharing good as many as flood of ideas here, especially Internet and technologies matter. If I really get attention to it.
</p>

<p>Welcome to Bad Guy Express <a href="https://instagram.com/literasibadguy/">by @literasibadguy</a>.

<div id="posts">
  <h3>Posts</h3>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>