
<div class="sponsor-cover">
    <img src="./img/remote/healing.gif" />
    <div class="sponsor-line">
    <span>Dipersembahkan oleh</span>
    <a href="/sponsor">
    <h2>SPONSOR ONLY</h2>
    </a>
    </div>
</div>