
<!doctype html>
<html lang="en"
    domain="{{ metadata.domain }}"
    {% if googleanalytics %}
    ga-id="{{ googleanalytics }}"
    {% endif %}
  >
  <body>
    <header>
      <strong data-pagefind-meta="title">{{ title }}</strong>
      |
      <i>confidential</i>
    </header>
    <main>
      <article {% if not excludeFromSearch %} data-pagefind-body{% endif %}>
        {% block article %}
          {{ content | safe }}
        {% endblock %}
      </article>

    </main>

    <footer>
      <a href="/">Literasi Bad Guy</a>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if isdevelopment %}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {% else %}
    <link rel="icon" href="{{ '/img/favicon/favicon-192x192.png' | addHash }}" type="image/png">
    {% endif %}
    <meta name="theme-color" content="#f9c412">
    <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">
    <title>{{ renderData.title or title or metadata.title | escape }}</title>
    {% set desc = renderData.description or description %}
    {% set altDesc = content | striptags | truncate(140) %}
    <meta name="description" content="{{ desc or altDesc | escape  }}">

    <!-- OPEN GRAPH -->
    <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape }}">
    <meta property="og:image" content="https://literasi.blog/img/literasi-cover2.jpg">
    <meta property="og:description" content="{{ desc or altDesc | escape }}">
    <meta property="og:url" content="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <meta property="og:site_name" content="Bad Guy Express">
    <meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="628">

    <!-- TWITTER -->
    <meta name="twitter:title" content="{{ renderData.title or title or metadata.title | escape  }}">
    <meta name="twitter:description" content="{{ desc or altDesc | escape }}">
    <meta name="twitter:image" content="https://literasi.blog/img/literasi-cover2.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}">
    <meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}">


    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <!-- This is a blog and so it SHOULD be safe and it is nice for the web
         to send referrers cross-origin.
         However, if you use sensitive data in URLs, consider changing this to
         a value like `origin-when-cross-origin`
         https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
          -->

    <link rel="preconnect" href="/" crossorigin>
</html>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}",
  "genre": "{{ metadata.genre }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

